# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.idea/

/data/corpus_10000000.txt
/data/corpus_25000000.txt
/data/corpus_75000000.txt
/data/corpus_50000000.txt
/data/corpus_100000000.txt
